@import "../../styles/tokens.scss";

.productCard {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 20px 0;
  text-align: center;
}

.buttonActive {
  background-color: $color-primary;
  border: none;
  color: $color-secondary;
  padding: 10px 20px;
}

.buttonInactive {
  background-color: #8e8d8d;
  border: none;
  color: #eee;
  padding: 10px 20px;
}
